<!-- <ul>
  <li [class.active]="viewMode=='map'">
    <a (click)="viewMode='map'">Map view</a>
  </li>
  <li [class.active]="viewMode=='list'">
    <a (click)="viewMode='list'">List view</a>
  </li>
</ul>

<div [ngSwitch]="viewMode">
  viewMode = {{viewMode}} .......
  <div *ngSwitchCase="'map'">mappppppppp</div>
  <div *ngSwitchCase="'list'">list</div>
  <div *ngSwitchDefault>nothing333</div>
</div>


<button (click)="onAdd()" >Add</button>
<button (click)="loadCourses()" >Load</button>

<ul>
  <li *ngFor="let course of courses; let i = index">
    {{i}}-- {{course.name}}
    <button (click)="onRemove(i)">Remove</button>
    <button (click)="onChange(i)">Change</button>
  </li>

  <li *ngFor="let course of courses; let e = even;">
    {{course.name}} <span *ngIf="e">(Even)</span>
  </li>
</ul>

<h1 app-myhighlight>My custom directive</h1> -->
<app-myform></app-myform>